VITE_NETWORK=testnet
VITE_STACKS_API_URL=https://stacks-node-api.testnet.stacks.co
VITE_DEPLOYER_ADDRESS=REPLACE_ME
VITE_AEGIS_VAULT_CONTRACT=REPLACE_ME.aegis-vault
VITE_SAFE_VAULT_CONTRACT=REPLACE_ME.safe-vault
VITE_RISK_ORACLE_CONTRACT=REPLACE_ME.risk-oracle
VITE_SBTC_CONTRACT=REPLACE_ME.mock-sbtc
